#root {
  margin: 0 auto;
  text-align: center;
}

#root, .App {
  width: 100% !important;
  height: 100vh !important;
}

html, body, #root, .App {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* App.css */

/* Ensure cursor pointer on hover */
.nav-link:hover,
.dropdown-item:hover {
  cursor: pointer;
}

/* Adjust dropdown menu to display on hover */
.navbar-nav .nav-item:hover > .nav-link.dropdown-toggle,
.navbar-nav .nav-item:focus-within > .nav-link.dropdown-toggle {
  color: #fff; /* Ensure text color change on hover */
}

/* Display dropdown menu on hover */
.navbar-nav .custom-dropdown .dropdown-menu {
  display: none; /* Hide dropdown by default */
}

.navbar-nav .custom-dropdown:hover .dropdown-menu {
  display: block; /* Show dropdown on hover */
}

/* Optional: Adjust dropdown menu styling */
.navbar-nav .dropdown-menu {
  margin-top: -2;
}


/* Flex grow to ensure the main content takes up available space */
main.flex-grow-1 {
  flex-grow: 1;
}
